$absent-color: #aad178;
$blue-theme-color: #2b8fd1;
$blue-hover-color: #3276b1;
$faked-blue-bg: #eaedf1;
$present-color: #6ad2eb;
$tardy-color: #f7be64;

$site-font: 'Roboto', sans-serif;
$splash-font: 'Fredericka the Great', cursive;

.add-attendance label {
  color: $blue-theme-color;
  font-weight: bold;
  background-color: $faked-blue-bg;
  font-size: 16px;
  width: 300px;
}

.app-container {
  font-family: $site-font;
  white-space: normal;
}

.body {
  background-image: url(https://res.cloudinary.com/eddielao/image/upload/v1492913319/read-on-sofa_xoqaqu.jpg);
  height: 800px;
}

body {
  margin-top: 10px;
}

button {
  color: white;
  font-weight: bold;
  background-color: $blue-theme-color;
  border: 0;
  border-style: solid;
  border-radius: 1px;
  font-size: 16px;
  margin: 0px 5px;
  padding: 10px 16px;
}

button:hover {
  background-color: $blue-hover-color;
  border-color: #285e8e;
  color: whitesmoke;
}

.dateLabel {
  display: flex;
  text-align: center;
  width: 300px;
}

.errors {
  font-size: smaller;
  color: indianred;
}

input {
  font-family: $site-font;
  padding-left: 5px;
}

input[type=submit] {
  color: white;
  font-weight: bold;
  background-color: $blue-theme-color;
  border: 0;
  border-style: solid;
  border-radius: 1px;
  font-size: 16px;
  margin: 0px 5px;
  padding: 10px 16px;
}

input::placeholder {
  background-color: whitesmoke;
  color: dimgray;
  font-size: x-large;
}

// .login-form input[type=submit] {
//   border-color: whitesmoke;
// }
//
.login-form-box {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  height: 100%;
}

.login-form-box input {
  font-size: smaller;
  height: 50%;
}

.login-form-box input[type=submit] {
  border-style: groove;
  border-width: thin;
  height: 10%;
}

input, select {
  border: gray;
  border-radius: 3px;
  border-style: groove;
  border-width: thin;
  color: dimgray;
  font-size: medium;
  margin: 1%;
}

.item-index tbody tr:hover {
  background-color: lightgray;
}

.login-input {
  background-color: whitesmoke;
  text-align: center;
}

.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  // border-left: lightgray;
  // border-style: solid;
  // border-left-width: thin;
  padding-left: 1%;
  padding-right: 1%;
}

.login-signup a {
  align-self: center;
  border-left: lightgray;
  border-style: solid;
  border-left-width: thin;
  color: $blue-theme-color;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.login-signup a:hover {
  cursor: pointer;
}

a:link {
  font-weight: lighter;
  font-size: 15px;
}

a:link:hover {
  text-shadow: grey 0 1px 1px;
}

// .login-form-container {
//   color: whitesmoke;
//   display: flex;
//   background-image: url(https://res.cloudinary.com/eddielao/image/upload/v1492913319/read-on-sofa_xoqaqu.jpg);
//   height: 800px;
//   flex-direction: row;
//   justify-content: center;
// }

.login-error {
  font-size: x-small;
}

.main-body {
  display: flex;
}

.main-body-index {
  background-color: #eaedf1;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.main-body-index img {

}

.main-body-index table {
  min-height: 700px;
  width: 100%;
}

.main-body-index tbody {
  display: flex;
  flex-direction: column;
}

.main-body-index td {
  border-bottom: whitesmoke;
  border-style: solid;
  border-right: whitesmoke;
  border-top: hidden;
  border-left: whitesmoke;
  border-left-style: solid;
  border-radius: 3px;
  display: inline-flex;
  height: 136px;
  width: 100%;
}

.main-body-index td:hover {
}

.main-body-index td a {
  color: $blue-theme-color;
  display: flex;
  justify-content: space-between;
  letter-spacing: 5px;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  word-spacing: 5px;
}

.main-body-index td span {
  font-size: x-large;
  font-family: $splash-font;
}

.main-body-index tr {
  display: flex;
  width: 80%;
}

.main-component {
  background-color: $faked-blue-bg;
  border: steelblue;
  border-bottom-style: inset;
  border-width: thin;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 700px;
  padding: 1%;
  width: 100%;
}

.main-component input:hover {
  background-color: whitesmoke;
  color: black;
}

.main-component td {
  padding-left: 5px;
}

.main-logo {
  color: $blue-theme-color;
  padding-left: 5px;
  font-family: $splash-font;
  font-size: x-large;
  font-weight: bold;
  white-space: nowrap;
}

.main-logo h1 {
  display: inline-flex;
}

.main-logo img {
  height: 16px;
  width: 16px;
}

.main-side-bar {
  background-color: steelblue;
  border-radius: 6px 0px 0px 6px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-family: $splash-font;
  font-size: initial;
  height: 100;
  padding-left: 10px;
  padding-top: 3px;
  white-space: nowrap;
  min-width: 150px;
}

.main-side-bar h4 {
  color: antiquewhite;
  font-size: smaller;
  text-decoration: overline;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main-side-bar a:hover {
  background-color: $blue-hover-color;
  font-weight: bold;
}

.main-side-bar li a {
  display: block;
  font-family: $site-font;
  padding: 5px;
}

.main-side-bar .selected {
  background-color: $faked-blue-bg;
  color: $blue-theme-color;
}

.modalInput {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modalButton {
  display: flex;
  justify-content: center;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-header button {
  font-family: sans-serif;
  font-weight: 100;
}

.modal-header button:hover {
  background-color: $blue-theme-color;
}

.slogan {
  font-family: $splash-font;
  opacity: 0.65;
  display: flex;
  flex-direction: column-reverse;
  color: $blue-theme-color;
}

.splash-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: $splash-font;
  font-size: -webkit-xxx-large;
  color: $blue-theme-color;
  height: 800px;
  background-image: url(https://res.cloudinary.com/eddielao/image/upload/c_scale,w_2000/v1492913319/read-on-sofa_xoqaqu.jpg);
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -moz-animation: fadein 4s; /* Firefox */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera */
  animation: fadein 4s;
}

.splash-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: $splash-font;
  font-size: -webkit-xxx-large;
  color: $blue-theme-color;
  height: 800px;
  background-image: url(https://res.cloudinary.com/eddielao/image/upload/c_scale,w_2000/v1497481819/pencils_xpgsr3.jpg);
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -moz-animation: fadein 4s; /* Firefox */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera */
  animation: fadein 4s;
}

.splash-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: $splash-font;
  font-size: -webkit-xxx-large;
  color: $blue-theme-color;
  height: 800px;
  background-image: url(https://res.cloudinary.com/eddielao/image/upload/c_scale,w_2000/v1497999540/apple-desk-laptop-working_b6fvyg.jpg);
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -moz-animation: fadein 4s; /* Firefox */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera */
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

td {
  padding: 2%;
  text-align: center;
  width: 200px;
}

td a {
  display: flex;
  width: 100%;
}

td input {
  border-style: hidden;
}

td .Absent {
  background-color: $absent-color;
  border-radius: 20px;
}

td .Absent:hover {
  cursor: default;
}

td .Present {
  background-color: $present-color;
  border-radius: 20px;
}

td .Present:hover {
  cursor: default;
}

td .Tardy {
  background-color: $tardy-color;
  border-radius: 20px;
}

td .Tardy:hover {
  cursor: default;
}

td,
th {
  border-bottom-style: inset;
}

th {
  background-color: dimgray;
  border-radius: 4px;
  color: white;
}

.remove {
  background-color: $faked-blue-bg;
  border-bottom-style: none;
}

tbody td {
  padding: 1%;
}

.top-control-bar {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  display: flex;
  padding: 1%;
  justify-content: space-between;
}

.username-password {
  height: 30%;
}
