.app-container {
  font-family: 'Roboto', sans-serif;
  white-space: normal;
}

.body {
  height: 800px;
  background-image: url(https://www.myattendancetracker.com/img/proui-2.0/frontend/math-student.jpg);
}

button {
  border: black;
  border-style: solid;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: black 0 2px 5px;
  border-width: thin;
  margin-left: 1%;
  margin-right: 1%;
}

button:hover {
  background-color: gray;
  color: whitesmoke;
}

.errors {
  font-size: smaller;
  color: indianred;
}

input[type=submit], select {
  border: black;
  border-style: solid;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: black 0 2px 5px;
  border-width: thin;
  margin-left: 1%;
  margin-right: 1%;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  border: gray;
  border-style: groove;
  height: 200px;
  margin-bottom: 20%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  padding: 1%;
  padding-top: 2%;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  width: 200px;
}

input, select {
  border: gray;
  border-style: groove;
  border-radius: 5px;
  margin: 1%;
}

.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  border-left: lightgray;
  border-style: solid;
  border-left-width: thin;
  padding-left: 1%;
  padding-right: 1%;
}

a:link {
  font-weight: lighter;
  font-size: 15px;
}

a:link:hover {
  text-shadow: grey 0 1px 1px;
}

.login-form-container {
  color: whitesmoke;
  display: flex;
  background-image: url(https://www.myattendancetracker.com/img/proui-2.0/frontend/math-student.jpg);
  height: 800px;
  flex-direction: row;
  justify-content: center;
}

.login-error {
  font-size: x-small;
}

.main-body {
  display: flex;
}

.main-body-index,
.main-body-index {
  // height: 100%;
  // width: 100%;
}

.main-body-index td {
  border: gray;
  border-style: groove;
  border-radius: 3px;
  display: inline-flex;
  height: 136px;
  width: 260px;
}

.main-body-index tr {
  display: flex;
}

.main-component {
  padding: 1%;
  width: 100%;
}

.main-component input:hover {
  background-color: whitesmoke;
  color: black;
}

.main-component td {
  padding-left: 5px;
}

.main-logo {
  padding-left: 5px;
  font-size: x-large;
  font-weight: bold;
  white-space: nowrap;
}

.main-logo h1 {
  display: inline-flex;
}

.main-logo img {
  height: 16px;
  width: 16px;
}

.main-side-bar {
  background-color: steelblue;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: initial;
  height: 600px;
  padding: 1%;
  white-space: nowrap;
}

.main-side-bar h4 {
  font-size: smaller;
  text-decoration: underline;
  padding: 9% 0% 1% 0%;
}

.main-side-bar a {
  padding: 3%;
}

.main-side-bar a:hover {
  font-weight: bold;
}

td {
  padding: 2%;
  text-align: center;
  width: 200px;
}

td,
th {
  border-bottom-style: inset;
}

th {
  background-color: dimgray;
  color: white;
}

.remove {
  background-color: white;
  border-bottom-style: none;
}

.remove:hover {
  background-color: white;
}

tbody tr:hover {
  background-color: lightgray;
}

tbody td {
  padding: 1%;
}

.top-control-bar {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  display: flex;
  padding: 1%;
  justify-content: space-between;
  width: 100%;
}

.top-control-bar div {
  // width: 80%;
  // text-align: right;
}
