.app-container {
  font-family: 'Roboto', sans-serif;
  white-space: normal;
}

.body {
  height: 800px;
  background-image: url(https://www.myattendancetracker.com/img/proui-2.0/frontend/math-student.jpg);
}

.login-form-box {
  border: gray;
  border-style: groove;
  border-radius: 5px;
  margin-bottom: 20%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
}

.login-form-box input {
  border: gray;
  border-style: groove;
  border-radius: 5px;
  margin: 1%;
}

a:link {
  font-weight: lighter;
}

.login-form-container {
  color: whitesmoke;
  display: flex;
  background-image: url(https://www.myattendancetracker.com/img/proui-2.0/frontend/math-student.jpg);
}

.top-control-bar {
  display: flex;
}

.main-logo {
  width: 20%;
  padding-left: 5px;
}

.top-control-bar nav {
  width: 80%;
  text-align: right;
}
